.build/
DerivedData/
*.xcuserdata/
*.xcuserstate
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
LocalAssets/
GeneratedAssets/
Captures/
Recordings/
ProfilingDumps/
.DS_Store
.vscode/
.idea/
.bundle/
vendor/bundle/
Gemfile.lock
